/**
* Portfolio Section
*/
.portSection
{
	clear: left;
}
.portHeader
{
	color: #9C080D;
	font-weight: bold;
	font-size:1em;
	margin-bottom: 2px;
}

.portDisc
{
	font-size: .9em;
	margin-bottom: 10px;
}

/** 
 * Project Discription Pages
 */
div.section {
	margin-bottom: 10px;
}

.changeDate
{
	color: #9C080D;
	font-weight: bold;
	font-size:1em;
	margin-bottom: 2px;
}
ul.cList{
	margin-top: 0px;
}
