---
page_name: "projects"
---

%h1 Projects

%h2 Dynamo Middleware Project

:markdown
  A distributed power cognitive middleware client that is currently being implemented for the iPAQ. 
  More details and the projects head at [dynamo.ics.uci.edu](http://dynamo.ics.uci.edu).

%h2 FreeBase

:markdown
  While currently a small internal app that is just getting kicked off this is a basecamp add-on. 
  It's basically being created to allow me to have offline access to my basecamp projects and add
  some extra functionality to to-do's to let me convey state changes a tad easier and help prioritize.
  
  Hopefully this might be useful to others but hey... It's ment to scratch my itch for now :D.