---
page_name: resume
layout: resume
---


.vcard
  %h1
    %span.given-name Michael 
    %span.family-name Philpott
  
  .adr
    %span.street-address 148 Nightingale Dr
    %div
      %span.locality Aliso Viejo
      %span.region CA
      %span.postal-code 92656
  %div
    %span T.
    %span.tel 949.533.4309
  %div
    %span E.
    %span.email mphilpot@gmail.com
  %div
    %span W.
    %span.url www.zencoding.net

%h2 Profile

:markdown
  A dynamic, personable, self-motivated, team-oriented software engineer/developer with excellent 
  communication, training and leadership skills. Participated in the implementation of numerous 
  software systems utilizing a variety of development models. Proficient in time sensitive research 
  and development, and overall project management skills. Continuing to learn and explore new 
  programming languages and development methodologies.

%h2 Skills

%ul.skills
  %li 
    %span Programming Languages: 
    Java (J2EE), C# (C Sharp), Ruby, C/C++, SQL
  %li
    %span Web Technologies:
    AJAX, Struts, Spring, Ruby on Rails, ASP.NET (ASP Dot NET), PHP, ASP, XML, XHTML, JavaScript, CSS
  %li
    %span Integrated Development Environments:
    Eclipse, Visual Studio.NET, VIM, Xcode
  %li
    %span Development Tools:
    Source Code Management (CVS/Subversion), Build Tools(Ant, Maven, Make), UML
  %li
    %span Operating Systems:
    Windows, Linux/Unix, OS X, DOS

%h2 Experience
%h3 Software Engineer, Google - April 2008 to Present


%h3 Application Developer, ditech - October 2005 to April 2008
%ul
  %li Team lead for ditech's consumer facing applications
  %li Led the development efforts for both the 2006 and 2007 ditech.com redesigns
  %li Developed, maintained and provided technical support for n-tiered component oriented |
    web applications including integration into the in-house lead management system and third party applications |
  %li Used XP and other Agile development methodologies to deliver daily, weekly and long cycle releases
  %li Worked with release management for web related releases on a weekly basis
  %li Implemented Ruby scripts to automate maintenance tasks and business reports
  %li Trained incoming developers on proprietary component-based architecture
  %li Technologies: J2EE, Struts, AJAX, XML, Weblogic, IPlanet, CVS, Subversion, Ruby, Ant, Maven, Unix, Linux, Ruby on Rails (RoR)

%H3 Application Developer, Convergence - March 2005 to October 2005
%ul
  %li Worked in a team environment developing proprietary content management systems for a wide range of web solutions
  %li Brought innovative web/desktop ideas from whiteboard concepts to functional products
  %li Developed a distributed multi-display multimedia/presentation framework
  %li Technologies: C# (C Sharp), ASP.Net (ASP dot Net), ASP, Actionscript

%h3 Research Assistant, Dynamo Middleware Project - April 2004 to June 2005
%ul
  %li Researched and developed system components from given specifications
  %li Integrated third party components
  %li Performed performance evaluations of the system and individual system components
  %li Technologies: C, Make, Linux, Subversion

%h3 Web Developer, Freelance - January 2002 to June 2005
%ul
  %li Designed, built and maintained small to medium sized personal and corporate websites
  %li Technologies: PHP, ASP, Subversion

%h3 Computer Technician/Tutor, Freelance - January 2000 to June 2005
%ul
  %li Maintained, built and troubleshot both personal and small corporate systems
  %li Instructed on both basic and complex computer topics
  %li Tutored individuals on basic computer use and specialty programs

%h2 Highlights of Achievements
%ul
  %li Lead developer on two ditech.com redesigns.

  %li Developed, evaluated and contributed in the design of a Linux based, distributed power cognizant middleware framework. This framework inherently accommodates low-power mobile devices (e.g. handhelds, sensors, smart-cards) to operate on board with high-end computers in distributed environments, while maintaining application Quality of Service (QoS).

  %li Designed and developed a Flash based video game for a one week gaming project, which implemented sphere and boundary based collision detection and an entity management system. This required creation of ADTs (Abstract Data Types) that utilized Flash's object oriented nature extensively.

  %li One of the lead developers of a five week group gaming project. Responsibilities included designing game specifications and integration of game logic. This system involved the interactions of over 50 distinct entities and accommodated over 10,000 entities with-out a significant degradation to performance. The project totaled 157 .cpp and .h files with over 15,000 lines of source code.

%h2 Education

%h3 University of California, Irvine - 2003-2005
%div.degree Bachelor of Science in Information and Computer Science
%div.awards Award: Specialization in Computer Systems
%div.gpa Major GPA: 3.6
%div.transcripts
  = link_to "Transcripts", "transcript.html"
  &nbsp;-&nbsp;
  = link_to "Courses", "courses.html"

%h3 Irvine Valley College - 2001-2003
%div.gpa GPA: 3.34

%h3 University of California, Santa Cruz - 1998-2000

%h2 Hobbies
%ul
  %li Design and develop a preference-based RSS feed reader. This is an extension of a class project that I started in my search systems class. It is being utilized as means to learn Objective-C, COCOA and Core Data and to explore preference based systems.
  %li Numerous small Java, C# and Ruby based applications that were created to extend or provide missing program functionality.
  %li Scuba diving.

%h2 Organizations
%ul
  %li Freedom Writers Foundation

%h2 Publications
%ul
  %li 1999 - the Freedom Writers Diary: How a teacher and 150 Teens Used Writing to Change themselves and the World Around Them - Doubleday/Broadway Publishing, Inc.

%h2 Humanitarian Awards - Freedom Writers
%ul
  %li National Conference for Community and Justice: Human Relations Award 1998
  %li Anne Frank Center USA: Spirit of Anne Frank Award 1998
  %li Southwest Airlines: Spirit of Freedom Award 1998
  %li Orange County American Jewish Federation: Micah Award 1998