- @page_name = "about"

%h1 About Me

:markdown
    
  Hi I'm Michael Philpott. I have just graduated from UCI with a Bachelors in Information 
  and Computer Science, Specializing in Computer Systems. While in school I've been doing 
  freelance web development and worked on the [Dynamo Middleware Project](http://dynamo.ics.uci.edu/).