- @layout = "blog"
- @page_name = "blog"

%Blogger
  %BlogDateHeader
    %h1 $BlogDateHeaderDate$
    
  / Begin .post
  
  .post
    %a{ :name => "<$BlogItemNumber$>" }
    
    %BlogItemTitle
      %h2
        %BlogItemUrl
          %a{ :href => "<$BlogItemUrl$>", :title => "external link" }

      %p.post-body <$BlogItemBody$>
      
      %p.post-footer
        %em
          posted by <$BlogItemAuthorNickname$> at 
          %a{ :href => "<$BlogItemPermalinkUrl$>", :title => "permanent link" } <$BlogItemDateTime$>
        %MainOrArchivePage
          %BlogItemCommentsEnabled
            %a.comment-link{ :href => "<$BlogItemPermalinkURL$>#comments" }> <$BlogItemCommentCount$> comments
            
        <$BlogItemControl$>
  
  / End .post
  
  / Begin #comments
  %ItemPage
    #comments
      %BlogItemCommentsEnabled
        %h4 <$BlogItemCommentCount$> Comments:
