- @layout = "resume"

%h1 Course Listing

%h2 Courses

%ul
  %li Introduction to Software Engineering
  %li Introduction to Programming Languages
  %li Digital Logic Design
  %li Compilers and Interpreters
  %li Computer System Architecture
  %li Software Tools and Methodologies
  %li Principles of Operating Systems
  %li Next Generation Search Systems
  %li Computer Networks
  %li Design and Analysis of Algorithms
  %li Computer Graphics

%h2 Project Courses

%ul
  %li Project in Operating Systems
  %li Computer Game Development
  %li Advanced Computer Networks

%h2 Research

%ul
  %li Dynamo Project - Dynamic and Adaptive Distributed Middleware for Mobile Power Cognizant Computing
 
= link "Return to Resume", "resume.html"