- @page_name = "home"

%h1 Home

%h2 Welcome

%p
  Welcome to Zencoding.

%p
  It seams like once a year I overhaul this site and looks like that time is 
  upon us once again. Maybe I'll actually add some functionality this time ;).
  
%p
  Okay enough with the concept of a blog... it might happen but for some reason currently
  writing in any frequency is like pulling teeth so... just follow my twitter/pownces ;)

