- @page_name = "home"

%h1 Home

%h2 Welcome

%p
  Welcome to Zencoding.

%p
  It seams like once a year I overhaul this site and looks like that time is 
  upon us once again. Maybe I'll actually add some functionality this time ;).
  
%p
  The blog will be back shortly... hopefully bigger and better... or leaner and 
  more focused at least ;).

