!!!
%html
  %head
    %title Zencoding
    %link{ :href => '/stylesheets/zencoding.css', :media => 'all', :rel => 'stylesheet', :type => 'text/css'}
    %script{ :type => 'text/javascript', :src => 'http://www.google-analytics.com/urchin.js'}
    %script
      _uacct = "UA-169475-1";
      urchinTracker();
  %body{ :id => '' }
    #body_container
      #header
        %h1
          %a{:href => "index.html"} Zencoding
      #contents
        #navigation
          %h3 Site Navigation
          %ul
            %li.home 
              %a{:href => "index.html"} Home
            %li.about
              %a{:href => "about.html"} About
            %li.projects
              %a{:href => "projects.html"} Projects
            %li.resume
              %a{:href => "resume.html"} Resume
            
          %h3 My...
          %ul
            %li.picasa
              %a{:href => "http://picasaweb.google.com/mphilpot"} picasa
            %li.flicker 
              %a{:href => "http://www.flickr.com/photos/maloc/"} flicker
            %li.twitter 
              %a{:href => "http://twitter.com/mphilpot"} twitter
          
        #main_contents
          = yield
      #footer
        &copy; Michael Philpott