!!!
%html
  %head
    %title Zencoding
    %link{ :href => '/stylesheets/zencoding.css' }
    %link{ :href => '/stylesheets/resume.css' }
    %link{ :href => '/stylesheets/resume_print.css', :media => 'print' }
    %script{ :type => 'text/javascript', :src => 'http://www.google-analytics.com/urchin.js'}
    %script
      _uacct = "UA-169475-1";
      urchinTracker();
  %body#resume
    #body_container
      #header
        %h1
          = link_to "Zencoding", "index.html"
      #contents
        = yield
      #footer
        &copy; Michael Philpott