<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MHDWXK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MHDWXK');</script>
    <!-- End Google Tag Manager -->
    <title>Zencoding :: </title>
    <link href="/styles/zencoding.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="body_container">
      <div id="header">
        <h1><a href="/">Zencoding</a></h1>

      </div>
      <div id="contents">
        <div id="navigation">
          <h3>Site Navigation</h3>
          <ul>
            <li class="home"><a href="#">Home</a></li>
            <li class="about"><a href="#">About</a></li>
            <li class="projects"><a href="#">Projects</a></li>
            <li class="resume"><a href="#">Resume</a></li>
          </ul>

          <h3>My...</h3>
          <ul>
            <li><a href="http://github.com/mphilpot/">github</a></li>
          </ul>
        </div>

        <div id="main_contents">
          {{ content }}
        </div>
      </div>
      <div id="footer">
        &copy; Michael Philpott
      </div>
    </div>
  </body>
</html>
