!!!
%html
  %head
    %title Zencoding
    %script{ :type => 'text/javascript', :src => 'http://www.google-analytics.com/urchin.js'}
    %script
      _uacct = "UA-169475-1";
      urchinTracker();
  %body#resume
    #body_container
      #header
        %h1
          = link "Zencoding", "index.html"
      #contents
        = yield
      #footer
        &copy; Michael Philpott